<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "spacebot.frookly.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>SpaceBot ][ Pandemic Edition</name>

    <description>
        Go to the microscopic world and fight coronavirus with your technologic bot, SpaceBot!. 
        An app made using Scratch, GitHub, and PhoneGap.
        credit to karatebuilderboy on scratch
    </description>

    <author href="http://scratch.mit.edu/users/frookly" email="tflfrookly@gmail.com">
        TFLrookly
    </author>

</widget>
